@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: Poppins, 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
}

.form-error {
    font-size: 10px;
    color: #ff3535;
    margin-top: 2px;
}
